.description-holder {
  background: #000;
  color: #fff;
  left: 0;
  padding: 1.5vh 4vw;
  position: absolute;
  right: 0;
  top: 0;
  transition: height 1s;
  z-index: 1;
  overflow: hidden; }
  .description-holder .text {
    color: #fff;
    font-size: 4.5vw;
    line-height: 1.75;
    margin-top: 3vw;
    padding: 8px;
    pointer-events: none;
    text-indent: 4.5vw;
    transition: opacity .5s; }
  .description-holder .title {
    color: #fff;
    font-family: "Avenir-Roman", sans-serif;
    font-size: 6vw;
    margin: 0px;
    transition: font-size .3s; }

.description-close-holder {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 15vw;
  height: 9vh; }

.description-close {
  bottom: 0px;
  font-size: 10vw;
  position: absolute;
  margin: 0px 4vw 2vw 4vw;
  right: 0px;
  text-align: center; }
  .description-close:active {
    color: rgba(255, 255, 255, 0.7); }

.description-arrow {
  float: right;
  display: none;
  position: relative;
  top: 1px; }

@media screen and (min-width: 599px) {
  .description-holder .text {
    font-size: 3.5vw; }
  .description-holder .title {
    font-size: 5vw; }
  .description-holder .description-close {
    font-size: 8vw; } }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: avenir-light;
  src: url(../fonts/avenir/light.otf); }
@font-face {
  font-family: avenir-medium;
  src: url(../fonts/avenir/medium.otf); }
@font-face {
  font-family: avenir-heavy;
  src: url(../fonts/avenir/heavy.otf); }
@font-face {
  font-family: baskerville-italic;
  src: url(../fonts/baskerville/italic.otf); }
@font-face {
  font-family: futura;
  src: url(../fonts/futura/Futura.otf); }
.navigation {
  background: #909090;
  height: 75px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  @media screen and (max-width: 767px) {
    .navigation {
      height: 45px; } }
  .navigation .navigation_back-button {
    background: rgba(0, 0, 0, 0.35);
    width: 195px;
    height: 100%; }
    @media screen and (max-width: 767px) {
      .navigation .navigation_back-button {
        width: 105px; } }
    .navigation .navigation_back-button a {
      color: white;
      height: 100%;
      font-size: 36px;
      line-height: 46px;
      margin: 0;
      font-family: avenir-heavy;
      padding-left: 45px;
      padding-top: 16px;
      text-decoration: none;
      display: block; }
      @media screen and (max-width: 767px) {
        .navigation .navigation_back-button a {
          font-size: 25px;
          line-height: 30px;
          padding-left: 15px;
          padding-top: 9px; } }
    .navigation .navigation_back-button--bottom {
      background: transparent;
      width: auto;
      height: 100%; }
      .navigation .navigation_back-button--bottom a {
        text-decoration: none;
        color: white;
        height: 100%;
        font-size: 36px;
        line-height: 46px;
        margin: 0;
        font-family: avenir-heavy;
        padding-left: 0px;
        padding-top: 16px;
        text-align: center;
        display: block; }
        @media screen and (max-width: 767px) {
          .navigation .navigation_back-button--bottom a {
            font-size: 25px;
            line-height: 30px;
            padding-top: 9px; } }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.navigation {
  background: #25a5c4; }

.template_container {
  background-color: #fff;
  padding: 40px 45px 40px;
  font-family: avenir-light; }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    .template_container {
      padding: 30px 30px 30px 30px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    .template_container {
      padding: 20px 20px 15px 20px; } }

h1 {
  color: #303030; }

h2,
h3,
h4 {
  color: #303030; }

h1 {
  font-family: avenir-heavy;
  font-size: 40px;
  line-height: 46px; }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    h1 {
      font-size: 38px;
      line-height: 40px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    h1 {
      font-size: 25px;
      line-height: 30px; } }

h2 {
  font-family: avenir-heavy;
  font-size: 34px;
  line-height: 38px;
  margin: 30px 40px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 5px; }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    h2 {
      font-size: 28px;
      line-height: 30px;
      margin: 0px 0px;
      padding-bottom: 5px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    h2 {
      font-size: 20px;
      line-height: 30px;
      margin: 0px 0px;
      padding-bottom: 5px; } }

h3 {
  font-family: avenir-heavy;
  font-size: 28px;
  line-height: 38px;
  margin: 30px 40px 20px; }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    h3 {
      font-size: 24px;
      line-height: 36px;
      margin: 0px 0px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    h3 {
      font-size: 20px;
      line-height: 30px;
      margin: 0px 0px; } }

h4 {
  font-family: avenir-medium;
  font-style: italic;
  font-size: 28px;
  line-height: 38px;
  margin: 30px 40px 20px; }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    h4 {
      font-size: 24px;
      line-height: 30px;
      margin: 0px 0px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    h4 {
      font-size: 20px;
      line-height: 30px;
      margin: 0px 0px; } }

.template_byline {
  font-size: 20px;
  font-style: italic;
  margin: 0; }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    .template_byline {
      font-size: 18px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    .template_byline {
      font-size: 16px; } }

p {
  font-size: 24px;
  line-height: 36px;
  margin: 20px 40px; }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    p {
      font-size: 22px;
      line-height: 30px;
      margin: 15px 0px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    p {
      font-size: 18px;
      line-height: 30px;
      margin: 15px 0px; } }
  p.template_drop-cap:first-letter {
    float: left;
    color: #25a5c4;
    font-size: 123px;
    line-height: 82px;
    padding-top: 21px;
    padding-right: 8px;
    padding-left: 0px;
    font-family: avenir-heavy; }
  p.template_introduction {
    margin: 20px 0px; }
    @media screen and (min-width: 0px) and (max-width: 475px) {
      p.template_introduction {
        margin: 10px 0px; } }

.template_pull-quote {
  font-family: avenir-heavy;
  font-size: 34px;
  line-height: 38px;
  margin: 50px 40px 50px;
  border-bottom: 3px solid #25a5c4;
  padding: 20px;
  color: #25a5c4;
  background-color: rgba(225, 225, 225, 0.5);
  overflow: hidden; }
  .template_pull-quote .template_pull-quote--author {
    font-style: italic;
    font-size: 24pt;
    color: #646464;
    float: right; }
    @media screen and (min-width: 475px) and (max-width: 767px) {
      .template_pull-quote .template_pull-quote--author {
        font-size: 18px; } }
    @media screen and (min-width: 0px) and (max-width: 475px) {
      .template_pull-quote .template_pull-quote--author {
        font-size: 18px; } }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    .template_pull-quote {
      font-size: 22px;
      line-height: 30px;
      margin-left: 25px;
      padding-bottom: 5px;
      padding-top: 10px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    .template_pull-quote {
      font-size: 20px;
      line-height: 30px;
      margin: 0px 0px;
      padding-bottom: 5px;
      padding-top: 10px; } }

span.template_accent-color {
  color: #25a5c4; }
span.template_bold {
  font-family: avenir-heavy; }
span.template_medium {
  font-family: avenir-medium; }
span.template_drop-cap {
  color: #25a5c4; }
span.template_number {
  color: #25a5c4;
  display: block;
  font-size: 80px;
  line-height: 95px;
  font-family: futura; }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    span.template_number {
      font-size: 60px;
      line-height: 60px; } }

video {
  display: block; }

.template_img-div {
  margin: 40px;
  position: relative; }
  .template_img-div.template_top {
    margin: 40px 0px; }
    .template_img-div.template_top img {
      display: block;
      width: 100%; }
      .template_img-div.template_top img.half {
        float: left;
        width: 50%; }
    @media screen and (min-width: 475px) and (max-width: 767px) {
      .template_img-div.template_top {
        margin: 20px 0px; } }
    @media screen and (min-width: 0px) and (max-width: 475px) {
      .template_img-div.template_top {
        margin: 20px 0px; } }
  .template_img-div.template_full {
    display: block;
    left: -45px;
    position: relative;
    width: calc(100% + 90px);
    margin: 40px 0px; }
    @media screen and (min-width: 475px) and (max-width: 767px) {
      .template_img-div.template_full {
        margin: 20px 0px; } }
    @media screen and (min-width: 0px) and (max-width: 475px) {
      .template_img-div.template_full {
        width: calc(100% + 40px);
        left: -20px;
        margin: 20px 0px; } }
  .template_img-div img {
    display: block;
    width: 100%; }
    .template_img-div img.half {
      float: left;
      width: 50%; }
  @media screen and (min-width: 475px) and (max-width: 767px) {
    .template_img-div {
      margin: 20px 0px; } }
  @media screen and (min-width: 0px) and (max-width: 475px) {
    .template_img-div {
      width: calc(100% + 40px);
      left: -20px;
      margin: 20px 0px; } }
  .template_img-div .template_caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    padding: 5px 15px 10px; }
    @media screen and (min-width: 475px) and (max-width: 767px) {
      .template_img-div .template_caption {
        padding: 7px 15px;
        width: auto; } }
    @media screen and (min-width: 0px) and (max-width: 475px) {
      .template_img-div .template_caption {
        background-color: rgba(0, 0, 0, 0.15);
        padding: 7px 15px;
        width: auto;
        position: static; } }
    .template_img-div .template_caption .template_caption-title {
      color: #25a5c4;
      font-family: avenir-heavy;
      font-size: 20px;
      line-height: 25.2px;
      margin: 5px auto; }
      @media screen and (min-width: 475px) and (max-width: 767px) {
        .template_img-div .template_caption .template_caption-title {
          font-size: 18px;
          line-height: 23px;
          margin: 1px auto; } }
      @media screen and (min-width: 0px) and (max-width: 475px) {
        .template_img-div .template_caption .template_caption-title {
          font-size: 18px;
          line-height: 23px;
          margin: 1px auto; } }
    .template_img-div .template_caption .template_caption-description {
      font-family: avenir-light;
      font-size: 17px;
      line-height: 20.4px;
      margin: auto; }
      @media screen and (min-width: 475px) and (max-width: 767px) {
        .template_img-div .template_caption .template_caption-description {
          font-size: 16px; } }
      @media screen and (min-width: 0px) and (max-width: 475px) {
        .template_img-div .template_caption .template_caption-description {
          font-size: 16px; } }

.template_right {
  float: right; }

.template_left {
  float: left; }

.template_overflow-hidden {
  overflow: hidden; }

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%; }

body {
  background: #e5e5e5;
  font-family: "Avenir-Roman", sans-serif; }

#background {
  display: none;
  height: 100%;
  opacity: .5;
  overflow: hidden;
  position: absolute;
  left: -250px;
  z-index: -3; }

.background-overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -4; }

.donut-text {
  font-family: Verdana, sans-serif;
  font-size: 3vw;
  pointer-events: none;
  text-anchor: middle;
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px; }

.industry-text {
  color: #fff;
  font-size: 4vh;
  padding: .75vh 0px;
  margin: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: -1; }

.label {
  color: white;
  font-size: 2.5vh;
  margin: 0;
  opacity: 0;
  padding: .8vh 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -2; }

#label-back {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -3; }

.text-middle {
  color: #333;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  z-index: 5000; }
  .text-middle .percent-number {
    font-size: 13vw;
    text-align: center; }
  .text-middle .percent-text {
    font-size: 4vw;
    margin: 0;
    text-align: center; }

#hidden-link {
  background-color: #666;
  border-radius: 50px;
  color: #fff;
  font-size: 2.5vh;
  left: 30%;
  opacity: 0;
  max-height: 50px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: opacity .5s, background .5s;
  width: 40%;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  z-index: 100;
  height: 10vw;
  padding: 1.5vw 0% 2.5vw 0%;
  bottom: 2.5%; }
  #hidden-link span {
    font-size: 3vh; }

@media screen and (min-width: 660px) {
  #hidden-link {
    padding: 1vw 0% 3vw 0%; } }

/*# sourceMappingURL=donut.css.map */
