$background-color: #000;
//$border-color: #fff;

.help-nav-arrow {
  font-size: 6vw;
  padding: 1% 6%;
}

.help-text {
  background: $background-color;//rgba(255, 255, 255, .9);
  color: white;
  bottom: 0;
  height: 0%;
  overflow-y: scroll;
  position: fixed;
  transition: height 1s;
  width: 100%;
}

.help-close-holder {
  position: absolute;
  right: 0px;
  //bottom:0px;
  width: 15vw;
  height: 9vh;
}

.help-close {
    font-size: 10vw;
    position: absolute;
    margin: 2vh 4vw 2vw 4vw;
    right: 0px;
    text-align: center;
    line-height: 4vh;
    //&:active {
     // color: rgba(100, 100, 100, 0.7);
    //}
}

.help-description {
  font-size: 4.5vw;
  padding: 0% 8% 20vw;
  margin: 0px;

  ol {
    width: 70%;
    margin: 0 auto;
  }

  li {
    margin-bottom: 15px;
    //width: 85%;
    line-height: 1.5;

  }

  img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 10% 0% 15%;
  }
}

.help-title {
  padding-left: 15px;
  font-size: 6vw;
  margin: 0px;
  padding: 2vh 4vw;
}


//////////////////for the button//////////////////

//copy of the button class from buttons.js (so that help.js and this scss could be used independently if needed)

.button {
  background-color: $background-color; //probably will be changed when using Olivia's buttons
  border-radius: 100%;
  //border: 2px solid $border-color;
  bottom: 2.5%;
  color: #fff;                          //will be changed when using Olivia's buttons
  left: 8%;
  padding: 2%;                    //will be changed when using Olivia's buttons
  position: fixed;
  width: 11%;
  max-width: 50px;
  z-index: 5;

  &.help {
    font-family: Avenir-Book;
    font-size: 2.4em;
    left: 77%; //position of help button at current width percentage
    line-height: 1.1;
    text-align: center;
  }

  &#active {
    background: rgba(0,0,0,.85); //background change on touch event
  }
}

/**
 * iPad sized or similar tablet
 */
@media screen
and (min-device-width: 599px) {

  div.button.help {
    font-size: 3.5em;
    line-height: 1.0;
    left: calc(92% - 80px);
  }

  .help-description {
    padding-bottom: calc(5% + 80px);

    li {
      font-size: 3.5vw;
    }
  }

  .help-title {
    font-size: 5vw;
  }

  .help-close {
    font-size: 8vw;
    margin: 2vh 4vw 2vw 4vw;
  }

  .help-nav-arrow {
    padding: 1% 4%;
  }
}



/**
 * Fix for title margin for iPHone 6+ and similar width devices
 */
@media screen
and (max-device-width: 320px) {

  div.button.help {
    font-size: 2.5em;
    line-height: 1;
  }
}
